@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/mixins" as *;

%commonIcon {
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
    padding: 10px;
}
.mainNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .iconOpenMenu {
        @extend %commonIcon;
        :hover {
            color: $primary-color_orange;
        }
    }
    .iconCloseMenu {
        @extend %commonIcon;
        margin-left: 0;
        :hover {
            color: red;
        }
    }
    .close {
        display: none;
    }
    .active {
        z-index: 12;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .contentOpenMenu {
            top: 0;
            position: absolute;
            left: 0;
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            background-color: $text-color;
            opacity: 0.9;
            color: $text-color_white;
            .ulList {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                li {
                    margin-left: 10px;
                    list-style: none;
                    padding: 5px;
                    .activeFlag {
                        width: 45px;
                        height: 20px;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                    .myItem {
                        color: $text-color_white;
                        text-decoration: none;
                        &:hover {
                            color: $primary-color_silver;
                        }
                    }
                }
            }
        }
    }
}
@include respond(tablet) {
    .mainNav {
        z-index: 10;
        .iconCloseMenu,
        .iconOpenMenu {
            display: none;
        }
        .active,
        .close {
            display: flex;
            width: 100%;
            .contentOpenMenu {
                width: 100%;
                .ulList {
                    width: 95%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    list-style: none;

                    .activeFlag {
                        width: 45px;
                        height: 20px;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                    .myItem {
                        text-decoration: none;
                        padding: 5px;
                        margin-right: 5px;
                        color: $text-color;
                        font-family: $font-family_text;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

// User Login
.menuContentLogin {
    position: absolute;
    top: 0;
    margin-left: 1px;
    width: 3%;
    height: 100vh;
    transition: width 0.7s ease-in-out;

    .hiddenText {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        transition-delay: 0.4s;
        white-space: nowrap;
        visibility: hidden;
        p {
            margin: 0;
        }
    }

    &:hover {
        width: 20%;
        background-color: $text-color_white;

        .hiddenText {
            opacity: 1;
            transition-delay: 0.2s;
            visibility: visible;
        }
    }

    &:not(:hover) .hiddenText {
        opacity: 0;
        transition-delay: 0s;
    }

    .UserConnect {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
        height: 10%;
        margin-top: 10px;

        .iconStylesUserLogin {
            color: $secondary-color_blue;
            font-size: 36px;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 3px;
        }

        .textDataUser {
            font-weight: bold;
            text-transform: uppercase;
            color: $primary-color_blue;
            letter-spacing: 1px;
        }

        .textRoleUser {
            font-weight: 900;
        }
    }

    .stylesMenuLogin {
        height: 100%;

        ul {
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            padding: 0;
            margin: 0;
            cursor: pointer;

            li {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 5px;
                min-height: 40px;

                .iconStylesUserLogin {
                    color: black;
                    font-size: 25px;
                    min-width: 30px;
                    margin-bottom: 20px;
                    transition: transform 0.3s ease-in-out;
                    margin-top: auto;
                    margin-bottom: auto;
                }
                p {
                    margin-top: 1px;
                    margin-left: 10px;
                    margin-top: auto;
                    margin-bottom: auto;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .active {
                background-color: $primary-color_orange;
                color: $text-color_white;
                font-weight: bold;
                width: 70%;
                .iconStylesUserLogin {
                    color: $text-color_white;
                }
                border-radius: 9px;
            }
        }
    }
}
@include responsive($breakpoint-desktop) {
    .menuContentLogin {
        width: 3%;
        .UserConnect{
            .iconStylesUserLogin{
                margin: 2px;
                font-size: 30px;
            }
            .textDataUser,
            .textRoleUser {
              margin-left: 10px;
            }
        }
        .stylesMenuLogin {
            margin-top: 10px;
            ul {
                li{
                    .iconStylesUserLogin{
                        margin: 0;
                        font-size: 23px;
                    }
                }
                .active {
                    width: 90%;
                   padding: 5px;
                }
            }
        }
    }
}

@include responsive($breakpoint-tablet){
    .menuContentLogin {
        width: 5%;
        &:hover{
            width: 25%;
        }
        .UserConnect{
            .textDataUser,
            .textRoleUser {
              margin-left: 10px;
            }
        }
        .stylesMenuLogin {
            margin-top: 5px;
            ul {
                li{
                    .iconStylesUserLogin{
                        margin: 0;
                        font-size: 23px;
                    }
                }
                .active {
                    width: 90%;
                    height: 10px;
                    margin-left: 2px;
                   padding: 4px;
                   .iconStylesUserLogin{
                    margin: -1px;
                   }
                  
                }
            }
        }
    }
}
@include responsive($breakpoint-mobile){
    .menuContentLogin{
        width: 7%;
        &:hover{
            width: 45%;
        }
    }
}

@include responsive($breakpoint-small-mobile){
    .menuContentLogin{
        width: 10%;
        &:hover{
            width: 70%;
        }
    }
}