@use "../../styles/utilities/variables" as *;
@use "../../styles/utilities/mixins" as *;

.contentHeader {
    width: 90%;
    height: 10vh;
    background-color: $secondary-color_orange;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 2%;
    box-shadow: 0 2px 10px 6px $primary-color_silver;
    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
.contentTable {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 400;
    .iconBtn {
        font-size: 15px;
        margin-right: 10px;
    }
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        text-transform: uppercase;
        thead {
            background-color: $secondary-color_orange;
            box-shadow: 0 2px 10px 4px $text-color_white;
            margin-bottom: 20px;
            .headerTable {
                border: 5px solid black;
                .thRole {
                    position: relative;
                    cursor: pointer;
                    .iconDown {
                        position: absolute;
                        bottom: 16%;
                    }
                    .roleDropdown {
                        position: absolute;
                        background: white;
                        border: 1px solid #ddd;
                        list-style: none;
                        padding: 5px 0;
                        font-size: clamp(9px, 1.5vw, 13px);
                        margin: 0;
                        width: 150px;
                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                        z-index: 9999999 !important;
                        overflow: visible; 
                        max-height: none;  
                        display: block;  
                        overflow-y: auto;
                    }
                    
                    .roleDropdown li {
                        padding: 8px 12px;
                        cursor: pointer;
                        transition: background 0.2s ease-in-out;
                        white-space: nowrap; 
                    }
                    
                    .roleDropdown li:hover {
                        background: #f0f0f0;
                    }
                    
                }
            }
        }
        tbody {
            margin-top: 30px;
            .row {
                margin-top: 10px;
                height: 15vh;
                background-color: $text-color_white;
                box-shadow: 1px 2px 11px 2px $primary-color_silver;
                .editRole {
                    cursor: pointer;
                }
                .selectNewRole {
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid $primary-color_silver;
                    box-shadow: 1px 1px 2px 1px $primary-color_silver;
                }
                .actionTd {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    height: 15vh;
                    .questionDelete {
                        .buttonStylesQuestionDelete {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
