@use "../../styles/utilities/mixins" as *;
@use "../../styles/utilities/variables" as *;

%commonError {
    font-size: clamp(14px, 1.5vw, 18px);
    margin-bottom: 10px;
    width: 94%;
    margin-right: 5px;
    z-index: 1;
}
.selectFormation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    .imgStylesCountrySelect {
        width: 15px;
        margin-right: 5px;
    }
    .spamStyle {
        margin-right: 5px;
        font-size: clamp(14px, 1.5vw, 18px);
    }
}
.selectStyle {
    @extend %commonError;
}
.selectErrorStyle {
    border: 2px solid red;
    box-shadow: 2px 2px 2px 1px rgba(219, 28, 21, 0.665);
    @extend %commonError;
}
@include responsive($breakpoint-tablet) {
    .selectFormation {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .selectStyle {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        text-align: center;
    }
}
